header{
    nav{
        a{
            .accueil{
                color: $text-black;
                font-size: 1.1rem;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
}