.container__product-details{ 
    min-height: 405px;
    .product-image{ 
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .product-image-chair{
        height: 62%;
    }
    .product-name{
        border-bottom: grey 1px dotted;
    }
    .product-name-width{
        width: 50%;
    }
}

.btn-width{
    width: 90%;
}
// element select 
.form-control-width{
    display: inline-block;
    min-width: 56px;
    max-width: 80px;
}